html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    height: 100%;

}

.wrapper {
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
}

img {
    display: block;
}